.register-section {
    display: flex;
    justify-content: center;

    --el-margin: 20px;
    --el-child-margin: 8px;
    --el-hover-border: 0px;
    --el-child-border-radius: 3px;
}

.register-container {
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    width: 500px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-input-username,
.register-input-password {
    width: 290px;
    /* height: 23px; amaz*/
    padding: 2px;
    margin: 1px;

    border: 1px solid grey;

    margin-bottom: var(--el-child-margin);
    border-radius: var(--el-child-border-radius);

    
}
.register-input-username:focus,
.register-input-password:focus {
    margin-bottom: calc(var(--el-child-margin) - var(--el-hover-border));

    border: 1px solid rgb(30, 83, 124);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(27, 86, 141, .5); 
    box-shadow: 0px 0px 3px 2px rgba(27, 86, 141, .5);

    border-radius: var(--el-child-border-radius);
}

/* .register-input-password {
    margin: 0 0 10px;
} */

.register-button-wrapper {
    margin-top: calc(var(--el-margin) - var(--el-child-margin) + 5px);
    margin-bottom: var(--el-margin);
}

.register-button-submit {
    border: none;
    border-radius: 4px;
    height: 24px;

    border-color: green;
    background-color: rgb(0, 163, 0);
    color: white;
}

.register-button-submit:hover {
    background-color: rgb(0, 197, 0);
}