.signin-section {
    display: flex;
    justify-content: center;
}

.signin-container {
    background-color: white;
    margin-top: 50px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    width: 500px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-input-username,
.signin-input-password {
    width: 290px;
}

.signin-input-username:focus,
.signin-input-password:focus {
    /* border: 2px solid #0c2233; */
    border: 2px solid #1e537c;
    -webkit-box-shadow: 0px 0px 0px -7px #000000, 0px 0px 3px 2px rgba(12,34,51,0.52); 
    box-shadow: 0px 0px 0px -7px #000000, 0px 0px 3px 2px rgba(12,34,51,0.52);
}

.signin-input-password {
    margin: 0 0 10px;
}

.signin-button-wrapper {
    margin-bottom: 20px;
}

.signin-button {
    background-color: #ebe4c2;
}

.signin-button:hover {
    background-color: #dad3b5;
}

.sign-button-submit {
    margin-right: 5px;
}