.navbar-container {
    justify-content: flex-end;
}

.navbar-container-loggedin {
    justify-content: space-between;
}

.navbar-container, .navbar-container-loggedin {
    display: flex;
    width: 100%;
    background-color: #08141e;
}

.navbar {
    display: inline-flex;
    list-style-type: none;
}

.nav-item {
    position: relative;
    margin: 0px 5px 0px 5px;
    display: flex;
    overflow: hidden;
}

.nav-item:hover {
    margin-bottom: -1px;
    border-bottom: 1px solid yellow;
    cursor: pointer;
}

/* -------NavLink CSS---------- */
/* .nav-link:focus {
    background: rgb(97, 97, 0);
}

.nav-active {
    background: none !important;
    border-bottom: 1px solid red;
    box-sizing: border-box;
} */
/* ----------End NavLink CSS--------- */

.nav-link {
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item-username {
    align-self: center;
    margin-left: 30px;
    list-style-type: none;
    cursor: default;
    color: white;
}