.post-display-multi-container {
    margin-top: 10px;
    width: 95%;

    display: flex;
    flex-direction: column;

    
    /* padding: 10px; */
    /* background: lightgrey; */
    /* border: 1px solid black; */
    /* border-radius: 4px; */
}

.post-button-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.post-display-page::-webkit-outer-spin-button,
.post-display-page::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.post-display-page {
    margin: 0 10px 0 10px;
    -moz-appearance:textfield;
    background-color: white;
    width: 20px;
    min-width: 0;
    text-align: center;
    color: black;
}

.post-display-multi-loading-container{
    color: white;
    font-size: 25px;

    display: flex;
    flex-direction: column;
}

.loading-icon {
    color: white;
    display: flex;
    align-self: center;
    animation: spin 2s linear infinite;
    margin-top: 30px;
    text-shadow: 2px 2px black;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.post-display-multi-loading-text {
    text-shadow: 1px 1px 100px black;
}