.post-overlay-container {
    position: fixed;
    
    /*size of navbar */
    /* top: 63px;  */
    top: 0px;
    padding-top: 63px;

    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.post-overlay-article-container {
    background-color: white;
    width: 85%;
}

.post-overlay-header {
    background-color: rgb(225, 245, 252);
}

.post-overlay-title {
    margin-bottom: 5px;
}

.post-overlay-publish-wrapper {
    display: flex;
    flex-direction: column;
    color: rgb(116, 116, 116);
    font-size: 14px;
    white-space: pre-wrap;
}

.post-overlay-mini-username:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.post-overlay-content {
    white-space: pre-wrap;
    text-align: left;
    display: flex;
    justify-content: center;
}