.post-display-multi-container {
    margin-top: 10px;
    width: 95%;
}

.post-button-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.post-display-page::-webkit-outer-spin-button,
.post-display-page::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.post-display-page {
    margin: 0 10px 0 10px;
    -moz-appearance:textfield;
    background-color: white;
    width: 20px;
    min-width: 0;
    text-align: center;
    color: black;
}