.post-create-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.post-create-container {
  background: white;
  width: 90%;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid lightgrey;
}

.post-create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-create-title-wrapper, .post-create-category-wrapper {
  display: flex;
  align-items: flex-start;
  white-space: pre;
  width: 60%;
  margin: 0 0 10px 0;
}

.post-create-title {
  width: 45%;
}

.post-create-category-label {

}

.post-create-category-input {
  align-self: flex-end;
}

.post-create-title:focus {
  outline: 2px solid #3baaff;
}

.post-create-title:invalid,
.post-create-textarea:invalid {
  box-shadow: none;
}

.post-create-textarea {
  width: 60%;
  height: 150px;
  margin: 0 0 10px;
  max-width: 99%;
}

.post-create-textarea:focus {
  outline: 3px solid #3baaff;
  -webkit-box-shadow: 0px 0px 0px -7px #000000, 0px 0px 3px 2px rgba(12,34,51,0.52); 
  box-shadow: 0px 0px 0px -7px #000000, 0px 0px 3px 2px rgba(12,34,51,0.52);
}

.button {
  cursor: pointer;
}

.post-create-button-wrapper {
  margin-bottom: 10px;
}

.post-button-submit {
  margin-right: 5px;
}
